:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: #3829e0;

 --Very-pale-blue: hsl(225, 100%, 98%); /*Music icon  */
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

--fw: 500;
--fw: 700;
--fw: 900;
}

*, html{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
}

#container{
    margin: 60px auto;
    width: 35.1%;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 5px 40px #7280a767;
    border-radius: 10px;
    padding-bottom: 30px;
}

#container .vector_img img{
    width: 100%;
}


.orderSummary{
    padding-block: 1rem; 
 } 


.vector_img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .largeTitle{
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

 .subTitle{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--Desaturated-blue);
}


.order{
   display: grid;
   grid-template-rows: repeat(2, 0.4fr);

}

.annualPlan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Very-pale-blue);
    margin-inline: 50px;
    padding-inline: 20px;
    border-radius: 10px;
}


.annualPlan a{
    font-size: .8rem;
    font-weight: 600;
    color: var(--Bright-blue);
    
}

.payment-btn{
    background-color: var(--Bright-blue);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 4px 9px 13px #3829e065;
    
}

.payment-btn:hover,
.payment-btn:focus{
    cursor: pointer;
    background-color:#4b3bff;
    transition: 250ms ease-in-out 100ms;
    box-shadow: 3px 3px 30px #352ab358;
}


.cancelation{
    text-decoration: none;
    margin-top: -20px;
    color: var(--Dark-blue);
}

@media (max-width: 800px) {
    #container{
        width: 71.6%;
    }

    .annualPlan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Very-pale-blue);
    margin-inline: 10px;
    padding-inline: 16px;
    border-radius: 10px; 
    }

    
 .annualPlan .largeTitle{
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

 .annualPlan .subTitle{
    font-size: .8rem;
    font-weight: 400;
    color: var(--Desaturated-blue);
}

.annualPlan img{
    width: 2.3rem;
}

}

